<%- include('./partials/header') %>

<% if(success.length>0){ %>
    <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= success %>
        </span>
    </div>
<% } %>

<div class="min-h-screen flex flex-col px-4 sm:px-6 lg:px-10">
    <div class="container mx-auto py-10 flex flex-col md:flex-row flex-grow">
        <aside class="w-full md:w-1/4 mb-6 md:mb-0 flex flex-col items-start">
            <nav class="w-full md:w-fit">
                <a class="block w-full md:w-fit mb-2 text-blue-600" href="">All Products</a>
                <a class="block w-full md:w-fit mb-2 text-blue-600" href="">Create new product</a>
            </nav>
        </aside>

        <main class="w-full md:w-3/4 bg-white p-6 sm:p-8 shadow rounded-lg">
            <h2 class="text-xl font-bold mb-4">Create New Product</h2>
            <form autocomplete="off" action="/products/create" method="post" enctype="multipart/form-data">
                <div class="mb-6">
                    <h3 class="text-lg font-semibold mb-2">Product Details</h3>
                    <div class="mb-4">
                        <label class="block mb-2 font-medium">Product Image</label>
                        <input name="image" type="file" class="w-full border py-2 px-4 rounded">
                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <input name="name" type="text" placeholder="Product Name" class="border p-2 rounded w-full">
                        <input name="price" type="text" placeholder="Product Price" class="border p-2 rounded w-full">
                        <input name="discount" type="text" placeholder="Discount Price" class="border p-2 rounded w-full">
                    </div>
                </div>
                <div>
                    <h3 class="text-lg font-semibold mb-2">Panel Details</h3>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <input name="bgcolor" type="text" placeholder="Background Color" class="border p-2 rounded w-full">
                        <input name="panelcolor" type="text" placeholder="Panel Color" class="border p-2 rounded w-full">
                        <input name="textcolor" type="text" placeholder="Text Color" class="border p-2 rounded w-full">
                    </div>
                </div>
                <input class="px-5 py-2 rounded mt-4 bg-blue-500 text-white w-full sm:w-auto" type="submit" value="Create New Product">
            </form>
        </main>
    </div>
</div>

<%- include('./partials/footer') %>
